<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/b9980e899c.js" crossorigin="anonymous"></script>
    <!-- Title of The Page -->
    <title>Traffic Sign</title>
    <!-- Meta Informations -->
    <meta charset="utf-8">
    <meta name="description" content="Final Project">
    <meta name="author" content="Group 1">
    <!-- Favicon -->
    <link rel="icon" href="#" type="images/logo/fresh.jpg">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awsome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
    <body>
    
    <!-- Header STARTS Here -->
    <header>
        <!-- Navbar STARTS Here -->

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="home"><img src="{{ url_for('static', filename='images/fresh.png') }}" class="img-fluid"
                        alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home"><img src="{{ url_for('static', filename='images/home_icon.png') }}"
                                    class="img-fluid img-responsive">Home<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about"><img src="{{ url_for('static', filename='images/home_icon.png') }}"
                                    class="img-fluid img-responsive">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#our_team"><img src="{{ url_for('static', filename='images/home_icon.png') }}"
                                    class="img-fluid img-responsive">Team</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#our_team"><img src="#"
                                    class="img-fluid img-responsive">   </a>
                        </li>

                        <li>
                            <button id="showqrButton" class="btn btn-orange"> Donate </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar ENDS Here -->
    </header>
    <!-- Header ENDS Here -->
    <div class="qroverlay" id="qroverlay">
        <div class="qr-container" id="qrContainer">
            <img src="{{ url_for('static', filename='images/qr.jpg') }}" alt="Displayed qr" id="displayedqr">
        </div>
    </div>
    <!-- Main Body STARTS here -->

    <!-- Home Banner Start -->
    <section id="home" class="home-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="main-heading">
                        <h1>Sign by Sign<br> <span>We Secure Your Drive!</span></h1>
                    </div>
                    <div class="home-icon">
                        <!-- <p>Application opens <span> April 16th, 2022</span></p> -->
                        <a class="btn-orange" href=FrontPage target="_blank">Open model !</a>
                        <!-- <a class="btn-orange" href=webcam target="_blank">LiveWebcam</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Banner End -->
    <!-- About Us Section Start -->
    <section id="about" class="effective-bg text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="heading text-center">
                        <h2>About our Project</h2>
                    </div>
                    <div class="author-content">
                        <img src="{{ url_for('static', filename='images/comma.png') }}" class="img-fluid" alt="author-img">
                        <p> With the hope of being able to apply what we have learned in deep learning 
                            and computer vision, we decided to create this sign recognition system based on two strategies:
                        <ul class="purposes">
                            <li><span>Recognising</span>
                                at least 12 <span>traffic signs</span> (particularly speed limitations, stop, 
                                directional indicators, system excels) with high accuracy
                            </li>
                            <li>Easy to <span> approach users</span>, especially who are <span>learning driving licenses.</span>
                                Our mission is to give a hand to <span>improve road safety</span> by our basic knowledge.
                            </li>
                        </ul>
                        </p>                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->
    
    <!-- Modern Feature Section Start -->
    <div id="why-us" class="heading head text-center">
        <h2><br> Why traffic sign recognition</h2>
    </div>
    <section class="feature-bg">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-sm-7">
                    <div class="heading head">
                        <h2>Close to <span>reality</span></h2>
                    </div>
                    <p class="dark-color">Boost traffic rule enforcement and reduce accidents caused by poor sign visibility.</p>
                    <p>The number of traffic accidents is increasing because signs are not clearly visible, 
                    that makes us create this “Traffic sign recognition” application. We hope by detecting and interpreting 
                    features of this application, traffic rules will be more strictly enforced, reducing accidents while entering traffic.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="both-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-7">
                    <div class="heading head">
                        <h2>Our Final <span>Project</span></h2>
                    </div>
                    <p class="dark-color">
                        We built this application using our deep learning and computer vision skills to address everyday traffic problems, especially during peak hours.</p>
                    <p>This application is created because we have to use our basic knowledge in deep learning to build a “useful” project and fortunately, 
                        we also learned computer vision. These conditions help us to figure out the idea of traffic problems, 
                        which we are dealing with everyday, especially at peak hours.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Modern Feature Section End -->
    
    <!-- Our Members Section Start -->
   
    <section id="our_team" class="author-bg text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title col-md-12">
                    <div class="heading text-center">
                        <h2>Our Team</h2>
                    </div>
                </div>

                <div class="owl-carousel owl-theme investment-partners">
                    <!-- Row 1 -->
                    <div class="item">
                        <div class="row justify-content-center">
                            <!-- Nguyen Ngoc Vu Thong -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Thông.jpg') }}" class="img-fluid img1"
                                            alt="Nguyen Ngoc Vu Thong">
                                        <img title="Google" src="{{ url_for('static', filename='images/Team/Thông.jpg') }}" class="overlay"
                                            alt="Google">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/profile.php?id=100009607721916">
                                                Nguyen Ngoc Vu Thong</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Data<br>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Data<br>
                                        <h6> FPTU HCM  </h6>
                                        <p style="font-size:18px"> Ho Chi Minh </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bui Nhat Tan -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Tân.jpg') }}" class="img-fluid img1"
                                            alt="Bui Nhat Tan">
                                        <img title="Google" src="{{ url_for('static', filename='images/Team/Tân.jpg') }}"class="overlay"
                                            alt="FPT">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/profile.php?id=100028849637065">Bui Nhat Tan</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Web<br>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Web <br>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Binh Thuan</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Le Hong Anh Thu -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Thư.jpg') }}" class="img-fluid img1"
                                            alt="Le Hong Anh Thu">
                                        <img title="FPT" src="{{ url_for('static', filename='images/Team/Thư.jpg') }}" class="overlay" alt="FPT">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/thule.ha29">Le Hong Anh Thu</a></h5>
                                        <p style="color:#ffffff;font-size:15px"> Data </p>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Data <br>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Kien Giang</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bui Thien Phu -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Phú.jpg') }}" class="img-fluid img1" alt="Le Hong Anh Thu">
                                        <img title="Bui Thien Phu" src="{{ url_for('static', filename='images/Team/Phú.jpg') }}" class="overlay"
                                            alt="Bui Thien Phu">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/hellophongdesu.chan">Bui Thien Phu</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Web<br>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Data (Leader) <br>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">An Giang</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="item">
                        <div class="row justify-content-center">
                            <!-- Duong Lam Quoc Bao -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Bảo.jpg') }}" class="img-fluid img1" alt="Duong Lam Quoc Bao">
                                        <img title="Meta" src="{{ url_for('static', filename='images/Team/Bảo.jpg') }}" class="overlay"
                                            alt="Meta">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/bao.duonglamquoc">Duong Lam Quoc Bao</a></h5>
                                        <p style="color:#ffffff;font-size:15px;opacity:10">Data collection</p>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Data collection <br>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Ho Chi Minh</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bui Tuan Huy -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Huy.jpg') }}" class="img-fluid img1"
                                            alt="Bui Tuan Huy">
                                        <img title="CNA" src="{{ url_for('static', filename='images/Team/Huy.jpg') }}" class="overlay" alt="CNA">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/profile.php?id=100039281434069">Bui Tuan Huy</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Data Scientist<br>
                                        <p style="color:#ffffff;font-size:15px;opacity:0">Data Scientist</p>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Dong Thap</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Nguyen Vo Thanh Duy -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Duy.jpg') }}" class="img-fluid img1" alt="Tien Dao">
                                        <img title="Microsoft" src="{{ url_for('static', filename='images/Team/Duy.jpg') }}"
                                            class="overlay" alt="Microsoft">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/duynvt2003">Nguyen Vo Thanh Duy</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Model (Leader)<br>
                                        <p style="color:#ffffff;font-size:15px;opacity:0">Model</p>
                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Tien Giang</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Phan Le Thanh Thao -->
                            <div class="col-md-3 col-sm-6 ">
                                <div class="partner-bg">
                                    <div class="partner-img">
                                        <img src="{{ url_for('static', filename='images/Team/Thảo.jpg') }}" class="img-fluid img1" alt="Phan Le Thanh Thao">
                                        <img title="Amazon" src="{{ url_for('static', filename='images/Team/Thảo.jpg') }}" class="overlay"
                                            alt="Amazon">
                                    </div>
                                    <div class="partner-content">
                                        <h5><a target="_blank"
                                                href="https://www.facebook.com/thao.phan.beba">Phan Le Thanh Thao</a></h5>
                                        <p style="color:#ffffff;font-size:15px">Data<br>
                                        <p style="color:#ffffff;font-size:15px; opacity: 0;">Data<br>

                                        <h6>FPTU HCM</h6>
                                        <p style="font-size:18px">Dong Nai</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-nav2"></div>
        </div>
    </section>
    <!-- Our Members Section End -->

    <!-- Footer start Here -->
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <ul class="footer-content">
                        <li><a href="###">duynvtse171447@fpt.edu.vn</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="index.html"><img src="{{ url_for('static', filename='images/fresh.png') }}" class="img-fluid" alt="Footer-logo"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <ul class="footer-icon">
                        <li><a href="https://www.facebook.com/daihocfptquynhon" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/fptuniversityquynhon/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="text-center mb-2">Traffic Sign Recognition</p>
        </div>
    </footer>
   
    <!-- Footer ENDS Here -->

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
</body>
</html>